body {
    font-family: Helvetica;
}

/*estilos generales*/
h1{
    font-size: 27px;
    text-align: center;
    font-weight: 800;
}

label {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

input[type="text"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    width: 78%;
    margin: 12px 10px 15px 0;
    display: inline-block;
    font-size: 18px;
    outline: 0;
}

input[type="text"]:focus {
    box-shadow: 0px 0px 2px #fcde00;
    font-weight: bold;
}

#formulario span input[type="submit"] {
    background: #dc3545;
    padding: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    width: 18%;
    font-size: 15px;
    font-weight: 700;
    margin: 0px;
    outline: 0;
}

#formulario span input[type="submit"]:hover {
    box-shadow: 0px 0px 3px gray;
    outline: 0;
}

#formulario span input[type="submit"]:active {
    box-shadow: 0px 0px 4px gray inset;
    text-shadow: 0px 0px 4px gray;
    outline: 0;
}

#formulario span #btn_eliminar {
    background: #dc3545;
    padding: 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    width: 140%;
    font-size: 15px;
    font-weight: 700;
    margin: 80px 3px 15px 0;
    outline: 0;
}

#formulario span #btn_eliminar:hover {
    box-shadow: 0px 0px 3px gray;
    outline: 0;
}

#formulario span #btn_eliminar:active {
    box-shadow: 0px 0px 4px gray inset;
    text-shadow: 0px 0px 4px gray;
    outline: 0;
}

/* Div de mensajes (error, exitoso9*/
#mensajeExitoso {
    color: white;
    margin-left: 75px;
    line-height: 50px;
    width: 88.2%;
    background-color: #28a745;
    text-align: center;
    font-weight: 600;
    margin-top: 46px;
}

#mensajeError {
    color: white;
    margin-left: 75px;
    line-height: 50px;
    width: 88.2%;
    background-color: #dc3545;
    text-align: center;
    font-weight: 600;
    margin-top: 46px;
}

/*estilos menú*/
.navegacion {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 70px;
}

.navegacion a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    letter-spacing: 1px;
    text-align: right;
    padding: 12px;
    margin-top: 25px;
}

.navegacion a:hover {
    color: black;
    background: white;
    opacity: 100%;
    transition: all 900ms;
}

.navegacion a:active{
    box-shadow: 0px 0px 8px gray inset;
    transition: all 100ms;
}

.navegacion img {
    display: block;
    float: left;
    margin-top: 32px;
    margin-left: 10px;
}

.navegacion #estrella{
    float: none;
    clear: both;
    margin: 0px auto;
    margin-top: -55px;
}

.titulo_menu {
    color: black;
}

#principal {
	margin-left: 200px;
	background: black;
	position: fixed;
	top: 0;
    left: 0;
	width: 86.2%;
	font-family: Helvetica, Arial;
	text-transform: uppercase;
	color: white;
    padding: 5px;
    height: 76px;
}

#principal #salir {
    display: block;
    float: left;
    letter-spacing: 8px;
}

#principal #salir #sesion {
    display: block;
    float: left;
    text-transform: none;
    letter-spacing: 7px;
    line-height: 3px;
}

#principal #salir a {
	color: white;
	text-decoration: none;
	cursor: pointer;
}

#principal #salir a:hover{
    transition: all 300ms;
    color: #ccc;
}

#principal h2 {
    display: block;
    float: left;
    letter-spacing: 8px;
    margin-right: 15rem;
    line-height: 40px;
}

#palabras {
    margin-left: 200px;
    padding-top: 100px;
    padding-left: 34px;
}


/* estilo menu_eliminar.php */

#principal_notas {
    width: 88%;
    border: 1px solid #e3e4e5;
    margin: 0px auto;
    margin-top: 2em;
    background: #F9F9F9;
}

#encabezado {
    text-align: center;
    margin-bottom: 40px;
}

#formulario {
    width: 85%;
    margin: 0px auto;
}

#div1 {
    overflow: scroll;
    height: 300px;
    width: 102.7%;
    margin-top: 40px;
}

#div1 table {
    table-layout: fixed;
    width: 140%;
    border-collapse: collapse;
    text-align: center;
    color: black;
    font-size: 17px;
    border: 2px solid #333333;
}

#div1 td {
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    line-height: 50px;
}

#div1 .color {
	font-size: 18px;
    background-color: #333333;
    color: white;
	font-weight: bold;
	padding: 8px;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 42px;
    background: #333;
    margin: 0px auto;
    width: 85%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 75px;
    line-height: 40px;
}

.subir {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}

#conDatos {
    color: white;
    margin-left: 95px;
    line-height: 50px;
    width: 85%;
    background-color:black;
    text-align: center;
    font-weight: 600;
    margin-top: 46px;
}