body{
    font-family: Helvetica;
}

.navegacion {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 70px;
}

.navegacion a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    letter-spacing: 1px;
    text-align: right;
    padding: 12px;
    margin-top: 25px;
}

.navegacion a:hover {
    color: black;
    background: white;
    opacity: 100%;
    transition: all 900ms;
}

.navegacion a:active{
    box-shadow: 0px 0px 8px gray inset;
    transition: all 100ms;
}

.navegacion img {
    display: block;
    float: left;
    margin-top: 35px;
    margin-left: 10px;
}

.navegacion #estrella{
    float: none;
    clear: both;
    margin: 0px auto;
    margin-top: -55px;
}

.titulo_menu {
    color: black;
}

#principal {
    margin-left: 200px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 10px;
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    color: white;
    padding: 5px;
}

#principal #salir {
    position: absolute;
    right: 15rem;
    top: 9px;
}

#principal #salir #sesion {
    position: absolute;
    right: 11rem;
    top: 0px;
    text-transform: none;
}

#principal #salir a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#contenedor {
    margin-left: 200px;
    padding-top: 100px;
    padding-left: 34px;
}

/*Estilos generales*/
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    width: 13%;
    margin: 30px 50px 30px 10px;
    display: inline-block;
    height: 49px;
    outline: 0;
    font-family: Helvetica;
}

select:focus {
    box-shadow: 0px 0px 2px #fcde00;
    font-weight: bold;
}

input[type="date"]{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    width: 12%;
    margin: 30px 50px 30px 10px;
    display: inline-block;
    height: 27px;
    outline: 0;
    font-family: Helvetica;
}

input[type="date"]:focus{
    box-shadow: 0px 0px 2px #fcde00;
    font-weight: bold;
}

input[type="submit"] {
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    width: 33%;
    background-color: #dc3545;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
    color: white;
    outline: 0;
    font-family: Helvetica;
}

input[type="submit"]:hover {
    box-shadow: 0px 0px 3px gray;
    outline: 0;
}

input[type="submit"]:active {
    box-shadow: 0px 0px 4px gray inset;
    text-shadow: 0px 0px 4px gray;
    outline: 0;
}

label{
    font-size: 20px;
    font-weight: bold;
}

/* Estilo de la tabla generales y para buscar*/

#titulo_principal {
    font-size: 27px;
    text-align: center;
    font-weight: 800;
}

#titulo_secundarioEspecifico {
    font-size: 20px;
    display: block;
    margin-top: 30px;
    margin-left: 30px;
    font-weight: 800;
}

#titulo_secundarioRango{
    font-size: 20px;
    display: block;
    margin-top: 30px;
    font-weight: 800;
}

#productos_busqueda {
    width: 96%;
    border: 2px solid #e3e4e5;
    margin: 0px auto;
    margin-top: 2em;
    background: #F9F9F9;
    padding-bottom: 70px;
}

#encabezado {
    text-align: left;
    margin-bottom: 40px;
    margin-left: 42px;
}

#tabla_busqueda {
    width: 93%;
    margin: 0px auto;
}

#tabla_general {
    width: 93%;
    margin: 0px auto;
}

#div1 {
    overflow: scroll;
    height: 400px;
}

#div1 table {
    table-layout: fixed;
    width: 150%;
    border-collapse: collapse;
    color: gray;
    text-align: center;
    color: black;
    font-size: 18.5px;
    font-family: arial, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    border: 2px solid #EDECEC;
}

#contenedor #formulario_busqueda {
    margin-left: 25px;
    width: 95%;
    background-color: #F9F9F9;
    padding: 8px;
    margin-top: 40px;
    border: 2px solid #e3e4e5;
}

#contenedor #formulario_busqueda #busqueda1 {
    margin-left: 76px;
}

#contenedor #formulario_busqueda #busqueda2 {
    margin-left: 167px;
}

#contenedor #resultados_busqueda {
    margin-left: 553px;
    margin-top: 20px;
}

#contenedor #final {
    margin-left: 553px;
    margin-top: 20px;
}

#contenedor #final label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: bold;
}

#contenedor #formulario_busqueda form{
    margin-left: 30px;
}



/* Notas estadisticas */

#contenedor #formulario_busqueda #destinatario {
    text-align: center;
    font-size: 18px;
}

#contenedor #formulario_busqueda #url {
    text-align: center;
}


#contenedor #resultados_busqueda label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin-left: 11px;
}

#contenedor #formulario_busqueda #selector {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

#div1 tr {
    border-bottom: 15pt solid #EDECEC;
}

#div3 tr {
    border-bottom: 10pt solid #EDECEC;
}

.color {
    font-size: 18px;
    background-color: darkgray;
    height: 30px;
    font-weight: bold;
    padding: 10px;
}

#productos_generales {
    width: 96%;
    border: 2px solid #e3e4e5;
    margin: 0px auto;
    margin-top: 2em;
    background: #F9F9F9;
    padding-bottom: 40px;
    margin-left: 25px;
}

#div3 table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    color: gray;
    text-align: center;
    color: black;
    font-size: 18.5px;
    font-family: arial, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    border: 2px solid #EDECEC;
}

#contenedor #final #dinero {
    font-size: 18px;
    margin-left: 220px;
}

#tabla_general {
    width: 90%;
    margin: 0px auto;
}

#div3 {
    overflow: scroll;
    height: 300px;
}

#contenedor #productos_generales #tienda {
    text-align: center;
    font-size: 18px;
}

#contenedor #productos_generales #selector {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

footer {
    font-family: Helvetica, Arial;
    color: white;
    height: 42px;
    background: rgb(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 93%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 75px;
    line-height: 40px;
}

.subir {
    color: white;
    text-decoration: none;
    display: block;
    float: right;
}
#contenedor #mensajeExistente{
    color: white;
    margin-left: 26px;
    line-height: 50px;
    width: 96.5%;
    background-color: #dc3545;
    text-align: center;
    font-weight: 600;
    margin-top: 46px;
}