/* estilo para menu.php */

body {
    font-family: "Lato", sans-serif;
}

.navegacion {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: black;
    overflow-x: hidden;
    padding-top: 100px;
}

.navegacion a {
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    letter-spacing: 1px;
    text-align: right;
    padding: 18px;
    margin-top: 13px;
}

.navegacion a:hover {
    color: black;
    background: white;
    opacity: 100%;
    transition: all 700ms;
}

.navegacion img {
    position: fixed;
    top: 17px;
    left: 48px;
}

.navegacion #menu {
    position: fixed;
    top: 125px;
    left: 11px;
}

.navegacion #nuevo {
    position: fixed;
    top: 191px;
    left: 11px;
}

.navegacion #actualizar {
    position: fixed;
    top: 258px;
    left: 11px;
}

.navegacion #eliminar {
    position: fixed;
    top: 323px;
    left: 11px;
}

.navegacion #buscar {
    position: fixed;
    top: 392px;
    left: 11px;
}

.navegacion #nota {
    position: fixed;
    top: 458px;
    left: 11px;
}

.navegacion #estadistica {
    position: fixed;
    top: 523px;
    left: 11px;
}

.titulo_menu {
    color: black;
}

#principal {
    margin-left: 200px;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    letter-spacing: 10px;
    font-family: Helvetica, Arial;
    text-transform: uppercase;
    color: white;
    padding: 5px;
}

#principal h2 {
    text-align: left;
}

#palabras {
    margin-left: 200px;
    padding-top: 88px;
    padding-left: 34px;
}


/* Estilo de la tabla Menu Principal */

#principal_notas {
    width: 96%;
    border: 2px solid #e3e4e5;
    margin: 0px auto;
    margin-top: 2em;
    background: #F9F9F9;
}

#encabezado {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 40px;
}

#encabezado h4 {
    font-size: 18px;
}

#formulario {
    width: 85%;
    margin: 0px auto;
}

label {
    font-weight: bold;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.label1 {
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 36rem;
}

form input[type="text"] {
    padding: 8px;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    margin-top: 27px;
    margin-left: 50px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 18px;
}

#final input[type="submit"] {
    background: #dc3545;
    opacity: 80%;
    padding: 15px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: white;
    border-radius: 4px;
    width: 90%;
    margin-left: -1px;
    margin: 12px 8px 15px 0;
    font-size: 15px;
    font-weight: 700;
    margin: 0px auto;
}

#final span a {
    margin: 0 auto;
    text-decoration: none;
    color: #1a73e8;
}

#final {
    margin-top: 10px;
    padding: 15px;
    background-color: #e3e4e5;
    border: 0px solid #000000;
    text-align: center;
}

h3 {
    text-align: center;
}

#div1 {
    overflow: scroll;
    height: 520px;
}

#div1 table {
    table-layout: fixed;
    width: 103%;
    border-collapse: collapse;
    text-align: center;
    color: black;
    font-size: 18.5px;
    font-family: arial, Geneva, Tahoma, sans-serif;
    letter-spacing: 1px;
    border: 2px solid #EDECEC;
}

#div1 tr {
    border-bottom: 15pt solid #EDECEC;
}

#div1 .color {
    font-size: 18px;
    background-color: darkgray;
    height: 30px;
    font-weight: bold;
    padding: 10px;
}